{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>J N M E D PATIENT</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">


</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">J N M E D</a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
<!--                    <li class="book-a-table text-center"><a  class="nav-link" href="{% url ''}">NOTIFICATIONS</a></li>-->

          <li class="book-a-table text-center"><a  class="nav-link" href="{% url 'dr_det' %}">view doctors</a></li>


          <li class="active"><a href="index.html">Home</a></li>
<!--          <li><a href="#about">About</a></li>-->
<!--          <li><a href="#menu">Menu</a></li>-->
<!--          <li><a href="#specials">Specials</a></li>-->
<!--          <li><a href="#events">Events</a></li>-->
<!--          <li><a href="#gallery">Gallery</a></li>-->
<!--          <li><a href="#chefs">Chefs</a></li>-->
<!--          <li><a href="#contact">Contact</a></li>-->
<!--          <li class="book-a-table text-center"><a href="{% url 'dr_login' %}">DOCTOR</a></li>-->
<!--          <li class="book-a-table text-center"><a href="{% url 'p_log' %}">PATIENT</a></li>-->

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="herophome" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-center" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-7">

<!--        <h1><span><center><CENTRE>WELCOME</center></span></h1>-->
          <h1 align="center">Saving Lives</h1>
In certain circumstances, a doctor can mean the difference between life and death. Accident and violent crime victims and soldiers wounded on the battlefield know this because their lives depend on the skills of trauma surgeons. People who suffer critical injuries need a doctor to attend to them quickly because delaying treatment might simply mean death.

          <h2>Extending Life</h2>
Doctors are responsible for increased life expectancy and improved well-being in society. People who survive diseases such as cancer usually owe their survival to doctors, whose skills and dedication are vital for their cure. Modern medical technology coupled with doctors’ care can give persons diagnosed with terminal illnesses hope of living longer.

          <h3>Humanitarian Work</h3>
Doctors perform humanitarian work in society. Some advocacy groups on health issues, such as hypertension and cancer, draw membership from the medical profession and help disseminate information about how to avoid so-called lifestyle diseases. Doctors may work as volunteers on missions ranging from providing care to disaster victims to training medical personnel in the developing world.

          <h4>Controlling Epidemics and Conducting Research</h4>
When disease outbreaks occur, information provided by doctors can help contain the epidemic. They also check the spread of disease by alerting the public to factors -- such as poor hygiene and risky behaviors -- that spread disease. Doctors also work alongside researchers to find new cures for diseases, running drug tests on consenting patients.</p>
<!--          <h2>Delivering great food for more than 18 years!</h2>-->

</div>
</div>


        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    </section><!-- End Contact Section -->

  </main><!-- End #main -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>















































