{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>J N M E D</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Restaurantly - v1.2.1
  * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-phone"></i> +91 9495487006
        <span class="d-none d-lg-inline-block"><i class="icofont-clock-time icofont-rotate-180"></i> Mon-Sat: 11:00 AM - 23:00 PM</span>
      </div>
<!--      <div class="languages">-->
<!--        <ul>-->
<!--          <li>En</li>-->
<!--          <li><a href="#">De</a></li>-->
<!--        </ul>-->
<!--      </div>-->
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">J N M E D</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
<!--          <li><a href="#about">About</a></li>-->
<!--          <li><a href="#menu">Menu</a></li>-->
<!--          <li><a href="#specials">Specials</a></li>-->
<!--          <li><a href="#events">Events</a></li>-->
<!--          <li><a href="#gallery">Gallery</a></li>-->
<!--          <li><a href="#chefs">Chefs</a></li>-->
          <li><a href="#contact">Contact</a></li>
          <li class="book-a-table text-center"><a href="{% url 'dr_login' %}">DOCTOR</a></li>
          <li class="book-a-table text-center"><a href="{% url 'p_log' %}">PATIENT</a></li>
            <li class="book-a-table text-center"><a href="{% url 'p_log' %}">MAKE AN APPOINTMENT</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="700">
      <div class="row">
        <div class="col-lg-8">
          <h1>WELCOME TO   <span>J N M E D</span></h1>
            <P>Your health. Our priority.</P>

<!--          <h2>Delivering great food for more than 18 years!</h2>-->

          <div class="btns">
<!--            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>-->
<!--            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto"></a>-->
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://youtu.be/vmIqYR-nYVM" class="venobox play-btn" data-vbtype="video" data-autoplay="true"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="{% static 'assets/img/med7.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>PROTECT YOURSELF AND OTHERS FROM  COVID-19</h3>
            <p class="font-italic">
              If COVID-19 is spreading in your community, stay safe by taking some simple precautions, such as physical distancing, wearing a mask, keeping rooms well ventilated, avoiding crowds, cleaning your hands, and coughing into a bent elbow or tissue. Check local advice where you live and work. Do it all!


            </p>
            <ul>
              <li><i class="icofont-check-circled"></i>Maintain at least a 1-metre distance between yourself and others to reduce your risk of infection when they cough, sneeze or speak. Maintain an even greater distance between yourself and others when indoors. The further away, the better</li>
              <li><i class="icofont-check-circled"></i>Make wearing a mask a normal part of being around other people. The appropriate use, storage and cleaning or disposal are essential to make masks as effective as possible.</li>
<!--              <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>-->
            </ul>
<!--            <p>-->
<!--              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate-->
<!--              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--              culpa qui officia deserunt mollit anim id est laborum-->
<!--            </p>-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <center>
            <h2>Why Us</h2>
          <p>Why Choose Our J N M E D</p>
          </center>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4>More Experience</h4>
                <p class="font-italic">
Every year, more than a million people come to Mayo Clinic for care. Our highly specialized experts are deeply experienced in treating rare and complex conditions</p>
<!--              <p>With BOOKNMEET, scheduling occurs in one well organised platform so the endless back and forth communication can be avoided and a streamlined communication is guaranteed. Manage multiple location or employees, only show your clients the calendar you want them to see, and block out any dates you will be taking off from work.</p>-->
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4>Seamless Care</h4>
                <p class="font-italic">Every aspect of your care is coordinated and teams of experts work together to provide exactly the care you need. What might take months elsewhere can often be done in days here. </p>
<!--              <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>-->
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
              <h4>The Right Answers</h4>
                <p class="font-italic">Successful treatment starts with an accurate diagnosis, and our experts take the time to get it right. A team of specialists will listen to your needs and evaluate your condition from every angle to make the very best plan for you.</p>
<!--              <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>-->
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
<!--          <h2>Menu</h2>-->
          <p style="font-size:50px;">SPECIALITIES</p>
        </div>

<!--        <div class="row" data-aos="fade-up" data-aos-delay="100">-->
<!--          <div class="col-lg-12 d-flex justify-content-center">-->
<!--            <ul id="menu-flters">-->
<!--              <li data-filter="*" class="filter-active">All</li>-->
<!--              <li data-filter=".filter-starters">Starters</li>-->
<!--              <li data-filter=".filter-salads">Salads</li>-->
<!--              <li data-filter=".filter-specialty">Specialty</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 menu-item filter-starters">
<!--            <img src="{% static 'assets/img/menu/med9.jpg' %}" class="menu-img" alt="">-->
            <div class="menu-content">
<!--              <a href="#">CARDIOLOGY(Heart Care)-->
                                <h1 style="font-size:30px;">1.CARDIOLOGY</h1>

            </div>
<!--            <div class="menu-ingredients">-->
<!--              Lorem, deren, trataro, filede, nerada-->
<!--            </div>-->
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
<!--            <img src="{% static 'assets/img/menu/med10.jpg' %}" class="menu-img" alt="">-->
            <div class="menu-content">
<!--              <a href="#">NEUROLOGY-->
                                <h1 style="font-size:30px;">2.NEUROLOGY</h1>

            </div>
<!--            <div class="menu-ingredients">-->
<!--              Lorem, deren, trataro, filede, nerada-->
<!--            </div>-->
          </div>

          <div class="col-lg-6 menu-item filter-starters">
<!--            <img src="{% static 'assets/img/menu/med11.jpg' %}" class="menu-img" alt="">-->
            <div class="menu-content">
<!--              <a href="#">DERMATOLOGY-->
                                <h1 style="font-size:30px;">3.DERMATOLOGY</h1>

            </div>
<!--            <div class="menu-ingredients">-->
<!--              A delicate crab cake served on a toasted roll with lettuce and tartar sauce-->
<!--            </div>-->
          </div>

          <div class="col-lg-6 menu-item filter-salads">
<!--            <img src="{% static 'assets/img/menu/med12.jpg' %}" class="menu-img" alt="">-->
            <div class="menu-content">
<!--              <a href="#">Oncology (Cancer Care)-->
                                <h1 style="font-size:30px;">4.ONCOLOGY</h1>

            </div>
<!--            <div class="menu-ingredients">-->
<!--              Lorem, deren, trataro, filede, nerada-->
<!--            </div>-->
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
<!--            <img src="{% static 'assets/img/menu/med13.jpg' %}" class="menu-img" alt="">-->
            <div class="menu-content">
<!--              <a href="#">Urology-->
                <h1 style="font-size:30px;">5.BONE MARROW TRANSPLANT</h1>
            </div>
<!--            <div class="menu-ingredients">-->
<!--              Grilled chicken with provolone, artichoke hearts, and roasted red pesto-->
<!--            </div>-->
          </div>

<!--          <div class="col-lg-6 menu-item filter-starters">-->
<!--            <img src="{% static 'assets/img/menu/med15.jpg' %}" class="menu-img" alt="">-->
<!--            <div class="menu-content">-->
<!--&lt;!&ndash;              <a href="#">Medical Gastroenterology.</a><span>$4.95</span>&ndash;&gt;-->
<!--               <h1 style="font-size:30px;">MEDICAL GASTROENTEROLOGY</h1>-->
<!--            </div>-->
<!--&lt;!&ndash;            <div class="menu-ingredients">&ndash;&gt;-->
<!--&lt;!&ndash;              Lorem, deren, trataro, filede, nerada&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--          </div>-->

<!--          <div class="col-lg-6 menu-item filter-salads">-->
<!--            <img src="{% static 'assets/img/menu/greek-salad.jpg' %}" class="menu-img" alt="">-->
<!--            <div class="menu-content">-->
<!--              <a href="#">Greek Salad</a><span>$9.95</span>-->
<!--            </div>-->
<!--            <div class="menu-ingredients">-->
<!--              Fresh spinach, crisp romaine, tomatoes, and Greek olives-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-6 menu-item filter-salads">-->
<!--            <img src="{% static 'assets/img/menu/spinach-salad.jpg' %}" class="menu-img" alt="">-->
<!--            <div class="menu-content">-->
<!--              <a href="#">Spinach Salad</a><span>$9.95</span>-->
<!--            </div>-->
<!--            <div class="menu-ingredients">-->
<!--              Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-6 menu-item filter-specialty">-->
<!--            <img src="{% static 'assets/img/menu/lobster-roll.jpg' %}" class="menu-img" alt="">-->
<!--            <div class="menu-content">-->
<!--              <a href="#">Lobster Roll</a><span>$12.95</span>-->
<!--            </div>-->
<!--            <div class="menu-ingredients">-->
<!--              Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

      </div>
    </section><!-- End Menu Section -->

    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Specialities</h2>
          <p>ABOUT SPECIALITIES</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">CARDIOLOGY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">DERMATOLOGY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">BONE MARROW TRANSPLANT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">NEUROLOGY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-6">ONCOLOGY</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
<!--                    <h3>Architecto ut aperiam autem id</h3>-->
<!--                    <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>-->
                    <p>Cardiology is a branch of medicine that deals with the disorders of the heart as well as some parts of the circulatory system. The field includes medical diagnosis and treatment of congenital heart defects, coronary artery disease, heart failure, valvular heart disease and electrophysiology.</p>
                    <h3>FIELDS:</h3>
                    <br>
                    <p>Adult cardiology</p>
                    <p>Cardiac electrophysiology</p>
                    <p>Clinical cardiac electrophysiology</p>
                    <p>Cardiogeriatrics</p>
                    <p>Echocardiography</p>
                    <p>Interventional cardiology</p>
</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/menu/med9.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
<!--                    <h3>Et blanditiis nemo veritatis excepturi</h3>-->
<!--                    <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>-->
                        <P>Dermatology is the branch of medicine dealing with the skin. It is a speciality with both medical and surgical aspects. A dermatologist is a specialist medical doctor who manages diseases related to skin, hair, nails, and some cosmetic problems.</P>
                         <H3>FIELDS:</H3>
                        <p>Cosmetic dermatology</p>
                    <p>Dermatopathology</p>
                    <P>Trichology</P>
                    <p>Immunodermatology</p>
                    <p>Mohs surgery</P>
                    <p>Pediatric dermatology</p>
                    <p>Teledermatology</p>
                    <p>Dermatoepidemiology</p>

                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/menu/med11.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
<!--                    <h3>Impedit facilis occaecati odio neque aperiam sit</h3>-->
<!--                    <p class="font-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>-->
<!--                    <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>-->
                    <p>Bone marrow is a semi-solid tissue found within the spongy or cancellous portions of bones. In birds and mammals, bone marrow is the primary site of new blood cell production or haematopoiesis.It is composed of hematopoietic cells, marrow adipose tissue, and supportive stromal cells. In adult humans, bone marrow is primarily located in the ribs, vertebrae, sternum, and bones of the pelvis. Bone marrow comprises approximately 5% of total body mass in healthy adult humans, such that a man weighing 73 kg (161 lbs) will have around 3.65 kg (8 lbs) of bone marrow.

Human marrow produces approximately 500 billion blood cells per day, which join the systemic circulation via permeable vasculature sinusoids within the medullary cavity.All types of hematopoietic cells, including both myeloid and lymphoid lineages, are created in bone marrow; however, lymphoid cells must migrate to other lymphoid organs (e.g. thymus) in order to complete maturation.

Bone marrow transplants can be conducted to treat severe diseases of the bone marrow, including certain forms of cancer such as leukemia. Several types of stem cells are related to bone marrow. Hematopoietic stem cells in the bone marrow can give rise to hematopoietic lineage cells, and mesenchymal stem cells, which can be isolated from the primary culture of bone marrow stroma, can give rise to bone, adipose, and cartilage tissue.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/menu/med13.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
<!--                    <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>-->
<!--                    <p class="font-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>-->
<!--                    <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>-->
                    <p>Neurology is a branch of medicine dealing with disorders of the nervous system. Neurology deals with the diagnosis and treatment of all categories of conditions and disease involving the central and peripheral nervous systems (and their subdivisions, the autonomic and somatic nervous systems), including their coverings, blood vessels, and all effector tissue, such as muscle. Neurological practice relies heavily on the field of neuroscience, the scientific study of the nervous system.

A neurologist is a physician specializing in neurology and trained to investigate, or diagnose and treat neurological disorders.Neurologists may also be involved in clinical research, clinical trials, and basic or translational research. While neurology is a nonsurgical specialty, its corresponding surgical specialty is neurosurgery.

Significant overlap occurs between the fields of neurology and psychiatry, with the boundary between the two disciplines and the conditions they treat being somewhat nebulous.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/menu/med10.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-6">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
<!--                    <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>-->
<!--                    <p class="font-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>-->
<!--                    <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>-->
                        <p>Oncology is a branch of medicine that deals with the prevention, diagnosis, and treatment of cancer. A medical professional who practices oncology is an oncologist. The name's etymological origin is the Greek word ὄγκος (óngkos), meaning 1. "burden, volume, mass" and 2. "barb", and the Greek word λόγος (logos), meaning "study".The neoclassical term oncology was used from 1618, initially in neo-Greek, in cognizance of Galen's work on abnormal tumors, De tumoribus præter naturam.

Cancer survival has improved due to three main components: improved prevention efforts to reduce exposure to risk factors (e.g., tobacco smoking and alcohol consumption), improved screening of several cancers (allowing for earlier diagnosis),and improvements in treatment.

Cancers are often managed through discussion on multi-disciplinary cancer conferences where medical oncologists, surgical oncologists, radiation oncologist, pathologists, radiologists, and organ specific oncologists meet to find the best possible management for an individual patient considering the physical, social, psychological, emotional, and financial status of the patient. It is very important for oncologists to keep updated with respect to the latest advancements in oncology, as changes in management of cancer are quite common.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/menu/med12.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
<!--              <div class="tab-pane" id="tab-5">-->
<!--                <div class="row">-->
<!--                  <div class="col-lg-8 details order-2 order-lg-1">-->
<!--                  <p>Gastroenterology is the branch of medicine focused on the digestive system and its disorders.-->

<!--Diseases affecting the gastrointestinal tract, which include the organs from mouth into anus, along the alimentary canal, are the focus of this speciality. Physicians practicing in this field are called gastroenterologists. They have usually completed about eight years of pre-medical and medical education, a year-long internship (if this is not a part of the residency), three years of an internal medicine residency, and three years in the gastroenterology fellowship. Gastroenterologists perform a number of diagnostic and therapeutic procedures including colonoscopy, esophagogastroduodenoscopy (EGD), endoscopic retrograde cholangiopancreatography (ERCP), endoscopic ultrasound (EUS), and liver biopsy. Some gastroenterology trainees will complete a "fourth-year" (although this is often their seventh year of graduate medical education) in transplant hepatology, advanced interventional endoscopy, inflammatory bowel disease, motility, or other topics.-->

<!--Advanced endoscopy, sometimes called interventional or surgical endoscopy, is a sub-specialty of gastroenterology that focuses on advanced endoscopic techniques for the treatment of pancreatic, hepatobiliary, and gastrointestinal disease. Interventional gastroenterologists typically undergo an additional year of rigorous training in advanced endoscopic techniques including endoscopic retrograde cholangiopancreatography, endoscopic ultrasound-guided diagnostic and interventional procedures, and advanced resection techniques including endoscopic mucosal resection and endoscopic submucosal dissection. Additionally, the performance of endoscopic bariatric procedures is also performed by some advanced endoscopists.</p>-->
<!--                  </div>-->



<!--                  <div class="col-lg-4 text-center order-1 order-lg-2">-->
<!--                    <img src="{% static 'assets/img/menu/.jpg' %}" alt="" class="img-fluid">-->
<!--                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Stay Healthy</h2>
          <p>Some Healthy Tips</p>
        </div>

        <div class="owl-carousel events-carousel" data-aos="fade-up" data-aos-delay="100">

          <div class="row event-item">
            <div class="col-lg-6">
              <img src="{% static 'assets/img/med17.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>1. Eat a healthy diet</h3>
              <div class="price">
<!--                <p><span>$189</span></p>-->
              </div>
              <p class="font-italic">
                Eat a combination of different foods, including fruit, vegetables, legumes, nuts and whole grains. Adults should eat at least five portions (400g) of fruit and vegetables per day. You can improve your intake of fruits and vegetables by always including veggies in your meal; eating fresh fruit and vegetables as snacks; eating a variety of fruits and vegetables; and eating them in season. By eating healthy, you will reduce your risk of malnutrition and noncommunicable diseases (NCDs) such as diabetes, heart disease, stroke and cancer.
              </p>
<!--              <ul>-->
<!--                <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>-->
<!--                <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>-->
<!--                <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>-->
<!--              </ul>-->
<!--              <p>-->
<!--                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate-->
<!--                velit esse cillum dolore eu fugiat nulla pariatur-->
<!--              </p>-->
            </div>
          </div>

          <div class="row event-item">
            <div class="col-lg-6">
              <img src="{% static 'assets/img/med18.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Be active</h3>
              <div class="price">
<!--                <p><span>$290</span></p>-->
              </div>
              <p class="font-italic">
              Physical activity is defined as any bodily movement produced by skeletal muscles that requires energy expenditure. This includes exercise and activities undertaken while working, playing, carrying out household chores, travelling, and engaging in recreational pursuits. The amount of physical activity you need depends on your age group but adults aged 18-64 years should do at least 150 minutes of moderate-intensity physical activity throughout the week. Increase moderate-intensity physical activity to 300 minutes per week for additional health benefits.
              </p>
<!--              <ul>-->
<!--                <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>-->
<!--                <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>-->
<!--                <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>-->
<!--              </ul>-->
<!--              <p>-->
<!--                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate-->
<!--                velit esse cillum dolore eu fugiat nulla pariatur-->
<!--              </p>-->
            </div>
          </div>

          <div class="row event-item">
            <div class="col-lg-6">
              <img src="{% static 'assets/img/med19.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3> Don’t smoke & Avoid harmful use of alcohol</h3>
              <div class="price">
<!--                <p><span>$99</span></p>-->
              </div>
              <p class="font-italic">
                Smoking tobacco causes NCDs such as lung disease, heart disease and stroke. Tobacco kills not only the direct smokers but even non-smokers through second-hand exposure. Currently, there are around 15.9 million Filipino adults who smoke tobacco but 7 in 10 smokers are interested or plan to quit.

If you are currently a smoker, it’s not too late to quit. Once you do, you will experience immediate and long-term health benefits. If you are not a smoker, that’s great! Do not start smoking and fight for your right to breathe tobacco-smoke-free air.
              </p>
                <p class="font-italic">There is no safe level for drinking alcohol. Consuming alcohol can lead to health problems such as mental and behavioural disorders, including alcohol dependence, major NCDs such as liver cirrhosis, some cancers and heart diseases, as well as injuries resulting from violence and road clashes and collisions.</p>
<!--              <ul>-->
<!--                <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>-->
<!--                <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>-->
<!--                <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>-->
<!--              </ul>-->
<!--              <p>-->
<!--                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate-->
<!--                velit esse cillum dolore eu fugiat nulla pariatur-->
<!--              </p>-->
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Events Section -->

    <!-- ======= Book A Table Section ======= -->
<!--    <section id="book-a-table" class="book-a-table">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="section-title">-->
<!--          <h2>Reservation</h2>-->
<!--          <p>MAKE MY APPOINTMENT</p>-->
<!--        </div>-->

<!--        <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">-->
<!--          <div class="form-row">-->
<!--            <div class="col-lg-4 col-md-6 form-group">-->
<!--              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">-->
<!--              <div class="validate"></div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-6 form-group">-->
<!--              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">-->
<!--              <div class="validate"></div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-6 form-group">-->
<!--              <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">-->
<!--              <div class="validate"></div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-6 form-group">-->
<!--              <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">-->
<!--              <div class="validate"></div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-6 form-group">-->
<!--              <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">-->
<!--              <div class="validate"></div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-6 form-group">-->
<!--              <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">-->
<!--              <div class="validate"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>-->
<!--            <div class="validate"></div>-->
<!--          </div>-->
<!--          <div class="mb-3">-->
<!--            <div class="loading">Loading</div>-->
<!--            <div class="error-message"></div>-->
<!--            <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>-->
<!--          </div>-->
<!--          <div class="text-center"><button type="submit">Book a Table</button></div>-->
<!--        </form>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Book A Table Section &ndash;&gt;-->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What they're saying about us</p>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                quality and trust
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/IMG_4576.jpg' %}" class="testimonial-img" alt="">
            <h3>jagath krishnan</h3>
            <h4>Co-Founder</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                easily accessible
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/IMG_4823.jpg' %}" class="testimonial-img" alt="">
            <h3>shamal musthafa</h3>
            <h4>surgeon</h4>
          </div>

<!--          <div class="testimonial-item">-->
<!--            <p>-->
<!--              <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
<!--              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.-->
<!--              <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
<!--            </p>-->
<!--            <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">-->
<!--            <h3>Jena Karlis</h3>-->
<!--            <h4>Store Owner</h4>-->
<!--          </div>-->

<!--          <div class="testimonial-item">-->
<!--            <p>-->
<!--              <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
<!--              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.-->
<!--              <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
<!--            </p>-->
<!--            <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">-->
<!--            <h3>Matt Brandon</h3>-->
<!--            <h4>Freelancer</h4>-->
<!--          </div>-->

<!--          <div class="testimonial-item">-->
<!--            <p>-->
<!--              <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
<!--              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.-->
<!--              <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
<!--            </p>-->
<!--            <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">-->
<!--            <h3>John Larson</h3>-->
<!--            <h4>Entrepreneur</h4>-->
<!--          </div>-->

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
<!--          <h2>Gallery</h2>-->
          <p>Gallery</p>
        </div>
      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gal1.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/gal1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gal2.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/gal2.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gal3.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/gal3.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gal4.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/gal4.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gal5.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/gal5.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gal6.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/gal6.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gal7.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/gal7.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gal8.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/gal8.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>J N M E D</h2>
          <p>CEO & FOUNDER OF J N M E D</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <img src="{% static 'assets/img/FOUNDER.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>JAGANNATH V V</h4>
                  <span>Master Chef</span>
                </div>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>



                <section id="chefs" class="chefs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>J N M E D</h2>
          <p>C0-FOUNDER</p>
        </div>

        <div class="row">



          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <img src="{% static 'assets/img/IMG_4977.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>JAGATH KRISHNAN</h4>
                  <span>C0-FOUNDER</span>
                </div>
<!--                <div class="social">-->
<!--                  <a href=""><i class="icofont-twitter"></i></a>-->
<!--                  <a href=""><i class="icofont-facebook"></i></a>-->
<!--                  <a href=""><i class="icofont-instagram"></i></a>-->
<!--                  <a href=""><i class="icofont-linkedin"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6">-->
<!--            <div class="member" data-aos="zoom-in" data-aos-delay="300">-->
<!--              <img src="{% static 'assets/img/chefs/chefs-3.jpg' %}" class="img-fluid" alt="">-->
<!--              <div class="member-info">-->
<!--                <div class="member-info-content">-->
<!--                  <h4>William Anderson</h4>-->
<!--                  <span>Cook</span>-->
<!--                </div>-->
<!--                <div class="social">-->
<!--                  <a href=""><i class="icofont-twitter"></i></a>-->
<!--                  <a href=""><i class="icofont-facebook"></i></a>-->
<!--                  <a href=""><i class="icofont-instagram"></i></a>-->
<!--                  <a href=""><i class="icofont-linkedin"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

        </div>

      </div>
    </section><!-- End Chefs Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>
      </div>

      <div data-aos="fade-up">

          <iframe style="border:0; width: 100%; height: 350px;"<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12574.22595805208!2d75.12956239555038!3d12.25733120902526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba47b1fdf2f6bc3%3A0xc55d8c3746cc4ae5!2sNileshwar%2C%20Kerala!5e0!3m2!1sen!2sin!4v1622136362329!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>"
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>kasaragod , kerala</p>
              </div>

              <div class="open-hours">
                <i class="icofont-clock-time icofont-rotate-90"></i>
                <h4>Open Hours:</h4>
                <p>
                  Monday-friday:<br>
                  11:00 AM - 2300 PM
                </p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>jagannathnileshwar10@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>9495487006</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

<!--            <form action="forms/contact.php" method="post" role="form" class="php-email-form">-->
<!--              <div class="form-row">-->
<!--                <div class="col-md-6 form-group">-->
<!--                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />-->
<!--                  <div class="validate"></div>-->
<!--                </div>-->
<!--                <div class="col-md-6 form-group">-->
<!--                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />-->
<!--                  <div class="validate"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />-->
<!--                <div class="validate"></div>-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <textarea class="form-control" name="message" rows="8" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>-->
<!--                <div class="validate"></div>-->
<!--              </div>-->
<!--              <div class="mb-3">-->
<!--                <div class="loading">Loading</div>-->
<!--                <div class="error-message"></div>-->
<!--                <div class="sent-message">Your message has been sent. Thank you!</div>-->
<!--              </div>-->
<!--              <div class="text-center"><button type="submit">Send Message</button></div>-->
<!--            </form>-->

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>J N M E D</h3>
              <p>
                KASARAGOD <br>
                KERALA, INDIA<br><br>
                <strong>Phone:</strong>9495487006<br>
                <strong>Email:</strong>jagannathnileshwar10@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

<!--          <div class="col-lg-2 col-md-6 footer-links">-->
<!--            <h4>Useful Links</h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>-->
<!--            </ul>-->
<!--          </div>-->

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Transfusion Medicine / Blood Bank</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Dietary</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">J N M E D  Laboratory Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Centre for Digital Health
</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Pharmacy</a></li>
            </ul>
          </div>

<!--          <div class="col-lg-4 col-md-6 footer-newsletter">-->
<!--            <h4>Our Newsletter</h4>-->
<!--            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>-->
<!--            <form action="" method="post">-->
<!--              <input type="email" name="email"><input type="submit" value="Subscribe">-->
<!--            </form>-->

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Restaurantly</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>